:root {
    --branco: FFFFFF;
    --cinza: ECEBE7;
    --preto: 141414;
    --dourado: B28B49;
    --douradohover: D6AB29;
    --azul: 5F81A9;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    background-color: #f5f5f5;
    overflow-x: hidden;
}

html {
    scroll-behavior: smooth;
    /**Deixa o scroll do mouse suave*/
}

/*Animacao no site*/
.page-enter {
    animation: pageFadeUp 0.8s ease forwards;
}

@keyframes pageFadeUp {
    from {
        opacity: 0;
        transform: translateY(20px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

/*Animacao nos componentes*/
.scroll-animate {
    opacity: 0;
    transform: translateY(40px);
    transition: all 0.8s ease;
}

.scroll-animate.active {
    opacity: 1;
    transform: translateY(0);
}